.add-category {
  color: #fff;
  border: 2px solid #d60d31;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  background-color: #d60d31;
  padding: 6px 15px;
  display: inline-block;
  float: right;
  cursor: pointer;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
.add-category:hover {
  background-color: transparent;
  color: #f2f2f2;
}
#category-list .category-link {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
}
#category-list .category-link:active,
#category-list .category-link:visited,
#category-list .category-link:hover,
#category-list .category-link:focus {
  text-decoration: none;
}
#category-list .category-link .category {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  font-size: 22px;
  opacity: 0.85;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#category-list .category-link .category:hover {
  opacity: 1;
}
#new-category {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
#new-category form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  min-width: 600px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  background-color: #2f2f2f;
}
#new-category form > h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #d60d31;
  font-size: 20px;
}
#new-category form .form-body {
  padding: 40px;
}
#new-category form .form-body .form-row {
  margin: 0 -15px;
}
#new-category form .form-body .form-row .left-col,
#new-category form .form-body .form-row .right-col {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}
#new-category form .form-body .form-row .left-col {
  width: 350px;
}
#new-category form .form-body .form-row .right-col {
  width: calc(100% - 350px);
}
#new-category form .group {
  margin-bottom: 15px;
}
#new-category form .group > input {
  background-color: inherit;
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
  width: 100%;
  padding: 6px 10px;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
#new-category form .group > input:focus {
  border-color: #d60d31;
}
#new-category form .group textarea {
  resize: vertical;
  width: 500px;
  height: 308px;
  min-height: 200px;
  background-color: inherit;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
#new-category form .group textarea:focus {
  border-color: #d60d31;
}
#new-category form .btn.btn-primary {
  margin-top: 20px;
  width: 100%;
}
#new-category form .select2 {
  width: 100% !important;
}
#new-category form #color-picker {
  padding: 15px;
  border: 2px solid #f2f2f2;
}
#new-category form #color-picker svg {
  margin: 0 auto;
}
#new-category form .close-btn {
  position: absolute;
  top: -30px;
  right: -23px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 19px;
}
#new-category form .close-btn:hover {
  color: #d60d31;
}
.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
}
.search-wrapper #search-field {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  color: #f2f2f2;
  background-color: #484848;
  margin-top: 20px;
  padding-right: 30px;
}
.search-wrapper .fa {
  position: absolute;
  right: 5px;
  top: 3px;
  display: none;
}
#context-menu {
  display: none;
  position: absolute;
  background-color: #484848;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 3px 0;
}
#context-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#context-menu ul li {
  text-align: left;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  background-color: #3b3b3b;
}
#context-menu ul li .fa {
  width: 25px;
}
#context-menu ul li:not(:last-child) {
  margin-bottom: 3px;
}
#context-menu ul li:hover {
  background-color: #d60d31;
}
#delete-confirm {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
#delete-confirm .panel {
  max-width: 400px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  background-color: #2f2f2f;
  border-radius: 0;
  -webkit-border-radius: 0;
}
#delete-confirm .panel > h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #d60d31;
  font-size: 20px;
}
#delete-confirm .panel .body {
  padding: 40px;
}
#delete-confirm .panel .body > .row .col-md-6 {
  padding: 0 20px;
}
#delete-confirm .panel .body > .row .col-md-6 button {
  width: 100%;
  color: #fff;
  background-color: #d60d31;
  border: 2px solid #d60d31;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
#delete-confirm .panel .body > .row .col-md-6 button:hover {
  color: #d60d31;
  background-color: transparent;
}
#edit-category > h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #d60d31;
  font-size: 20px;
}
#edit-category .group {
  margin-bottom: 15px;
}
#edit-category .group > input {
  background-color: inherit;
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
  width: 100%;
  padding: 6px 10px;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
#edit-category .group > input:focus {
  border-color: #d60d31;
}
#edit-category .group textarea {
  resize: vertical;
  width: 100%;
  height: 222px;
  min-height: 200px;
  background-color: inherit;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
#edit-category .group textarea:focus {
  border-color: #d60d31;
}
#edit-category #color-picker {
  padding: 15px;
  border: 2px solid #f2f2f2;
}
#edit-category #color-picker svg {
  margin: 0 auto;
}
#edit-category .btn.btn-primary {
  margin-top: 20px;
  width: 100%;
}
#edit-category .select2 {
  width: 100%;
}
#edit-category .close-btn {
  position: absolute;
  top: -30px;
  right: -23px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 19px;
}
#edit-category .close-btn:hover {
  color: #d60d31;
}
#edit-category .select2-container--default .select2-selection--single,
#edit-category #edit-snippet .select2-container--default .select2-selection--multiple {
  background-color: transparent;
}
