.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
}
.search-wrapper #search-field {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  color: #f2f2f2;
  background-color: #484848;
  margin-top: 20px;
  padding-right: 30px;
}
.search-wrapper .fa {
  position: absolute;
  right: 5px;
  top: 3px;
  display: none;
}
#snippet-list {
  margin: 50px 0;
}
#snippet-list .snippet {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: #2f2f2f;
  height: 150px;
  margin-bottom: 40px;
}
#snippet-list .snippet > .row {
  height: 100%;
}
#snippet-list .snippet > .row .top-column .name {
  background-color: #d60d31;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  padding: 0 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  color: #fff;
  text-decoration: none;
}
#snippet-list .snippet > .row .top-column a {
  color: #fff;
  text-decoration: none;
}
#snippet-list .snippet > .row .top-column a:active,
#snippet-list .snippet > .row .top-column a:visited,
#snippet-list .snippet > .row .top-column a:focus {
  text-decoration: none;
}
#snippet-list .snippet > .row .middle-column {
  height: 90px;
}
#snippet-list .snippet > .row .middle-column .text {
  position: relative;
  height: 100%;
}
#snippet-list .snippet > .row .middle-column .text pre {
  height: 100%;
  border: none;
  font-family: "Anonymous Pro", monospace;
  background-color: #2f2f2f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
}
#snippet-list .snippet > .row .middle-column .text .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 -10px 25px #222222 inset;
}
#snippet-list .snippet > .row .middle-column .text .category {
  border-bottom-left-radius: 5px;
  background-color: #d60d31;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  font-size: 10px;
  font-weight: 200;
  color: #fff;
}
#snippet-list .snippet > .row .tag-column .tags {
  background-color: #222222;
  padding: 10px;
  font-size: 12px;
  color: #7b7b7b;
  overflow-y: hidden;
  overflow-x: auto;
}
#snippet-list .snippet > .row .tag-column .tags span {
  display: inline;
  border: 1px solid #949494;
  margin: 0 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 0 5px;
}
#new-snippet {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#new-snippet form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  background-color: #2f2f2f;
}
#new-snippet form > h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #d60d31;
  font-size: 20px;
}
#new-snippet form > div > input {
  background-color: inherit;
  border: none;
  color: #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  width: 100%;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
#new-snippet form > div > input:focus {
  border-color: #d60d31;
}
#new-snippet form textarea {
  resize: vertical;
  background-color: inherit;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  min-height: 100px;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
#new-snippet form textarea:focus {
  border-color: #d60d31;
}
#new-snippet form .btn.btn-primary {
  margin-top: 20px;
  width: 100%;
}
#new-snippet form .select2 {
  width: 100%;
}
#new-snippet form > div > input,
#new-snippet form textarea,
#new-snippet form .select2 {
  margin-bottom: 20px;
}
#new-snippet form .close-btn {
  position: absolute;
  top: -30px;
  right: -23px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 19px;
}
#new-snippet form .close-btn:hover {
  color: #d60d31;
}
.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
  border-radius: 0;
  border: 2px solid #f2f2f2 !important;
  background-color: transparent;
  color: #f2f2f2;
  height: auto;
  padding: 2px;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--multiple .select2-selection__rendered {
  color: #f2f2f2;
}
.select2-container .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--multiple .select2-selection__arrow {
  top: 4px;
}
.select2-container.select2-container--open .select2-selection--single,
.select2-container.select2-container--open .select2-selection--multiple {
  border-color: #d60d31 !important;
  border-width: 2px;
}
.select2-dropdown {
  background-color: #2f2f2f;
  color: #f2f2f2;
  border-radius: 0;
  border-width: 2px;
  border-color: #d60d31;
}
.select2-dropdown .select2-search__field {
  transition: all 150ms;
  padding: 6px;
  font-weight: 300;
  border: 2px solid #f2f2f2 !important;
  color: #f2f2f2;
  background-color: transparent;
}
.select2-dropdown .select2-search__field:focus {
  border-color: #d60d31 !important;
}
.select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"] {
  background-color: #d60d31;
  color: #fff;
}
.select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted:not([aria-selected="true"]) {
  background-color: #2f2f2f;
  color: #d60d31;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  background-color: #2f2f2f;
}
.select2-selection__choice {
  background-color: #f2f2f2 !important;
  color: #484848;
  border: none !important;
}
