@import url(../lib/GoogleFonts/css/fonts.css);
::-moz-selection {
  color: #fff;
  background-color: #d60d31;
}
::selection {
  color: #fff;
  background-color: #d60d31;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: #484848;
  font-family: 'Raleway', sans-serif;
}
.outer-wrapper .sidebar {
  background-color: #2f2f2f;
  height: 100vh;
  width: 20%;
  display: block;
  float: left;
  box-shadow: 15px 0 20px rgba(0, 0, 0, 0.2);
}
.outer-wrapper .sidebar h1.logo {
  color: #d60d31;
  font-size: 25px;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.outer-wrapper .sidebar h1.logo small {
  font-size: 15px;
  font-weight: 200;
}
.outer-wrapper .sidebar .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.outer-wrapper .sidebar .nav li {
  background-color: #d60d31;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  font-size: 14px;
  display: block;
  position: relative;
  margin-right: -15px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.outer-wrapper .sidebar .nav li:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #a60a26;
  height: 100%;
  width: 50px;
  bottom: 0;
  z-index: -1;
  transform-origin: bottom right;
  -webkit-transform: rotate(-23deg);
  -moz-transform: rotate(-23deg);
  -ms-transform: rotate(-23deg);
  -o-transform: rotate(-23deg);
  transform: rotate(-23deg);
}
.outer-wrapper .sidebar .nav li.active,
.outer-wrapper .sidebar .nav li:hover {
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.6);
  margin-right: -30px;
}
.outer-wrapper .sidebar .nav li.active:before,
.outer-wrapper .sidebar .nav li:hover:before {
  background-color: #be0c2b;
}
.outer-wrapper .sidebar .nav li.active a,
.outer-wrapper .sidebar .nav li:hover a {
  background-color: #d60d31;
}
.outer-wrapper .sidebar .nav li a {
  padding: 10px 10px 10px 30px;
  display: block;
  color: #fff;
  text-decoration: none;
}
.outer-wrapper .sidebar .nav li a:active,
.outer-wrapper .sidebar .nav li a:visited,
.outer-wrapper .sidebar .nav li a:focus {
  text-decoration: none;
  background-color: #d60d31;
}
.outer-wrapper .sidebar .nav li a .fa {
  margin-right: 10px;
}
.outer-wrapper .content {
  height: 100vh;
  width: 80%;
  display: block;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #f2f2f2;
  padding: 15px 50px 15px 80px;
  box-sizing: border-box;
}
.btn.btn-primary {
  background-color: #d60d31;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  border-color: #d60d31;
}
.btn.btn-primary:active {
  background-color: #2f2f2f;
  color: #d60d31;
  border-color: #d60d31;
}
